@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  * {
    @apply border-slate-100;
  }
}

body {
  @apply bg-white text-black font-sans antialiased selection:bg-black selection:text-white;
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-100 rounded-full hover:bg-slate-200 transition-colors;
}

@layer utilities {
  .text-minimal-muted {
    @apply text-slate-400 font-medium tracking-tight;
  }
  
  .border-minimal {
    @apply border-slate-50 transition-colors duration-300;
  }
  
  .bg-minimal-hover {
    @apply hover:bg-slate-50/50 transition-colors duration-300;
  }
}
